{% extends "base.html" %}

{% block content %}
    <h1>Discworld books</h1>
    {% for article in articles %}
        <a href="{% url 'article_detail' article.id %}"><h2>{{ article.name }}</h2></a>
        <div>{{ article.body|slice:":200" }}</div>
        <a href="% url 'articles_update' article.id %">Update</a>
    {% endfor %}
{% endblock %}

<!--<!DOCTYPE html>

<a href="{% url article.id %}"><h2>{{ article.name }}</h2></a>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>Все статьи</h1>
    <ul>
        {% for article in articles %}
        <li>
            <a href="{% url 'article' article.id %}">
                {{ article.title }}
            </a>
        </li>
        {% endfor %}
    </ul>
    <a href="{% url 'index' %}">На главную</a>
</body>
</html>-->